<div id="mainScreen" class="mainScreen" data-api="./../app/views/mainscreen/MainScreen.js" style="position:absolute;">

    <div class="quote">
        <div style="position:relative; width:100%; text-align:center">I'd like to apologize for all this.</div>
    </div>

    <div class="startGame" id="startGame">
        <button id="startGameButton" class="startGameButton">Start Game</button>
        <!--<br><br>
        <button id="level1" class="startGameButton" style="width:35px;">1</button>
        <button id="level2" class="startGameButton" style="width:35px;">2</button>
        <button id="level3" class="startGameButton" style="width:35px;">3</button>-->
    </div>
    <div class="quote" style="top:150px">
        <div style="position:relative; width:100%; text-align:center">Hall of Fame</div>
    </div>

    <div class="HOF" id="highscoreContainer">
        <div id="highScores">

        </div>
    </div>
    <div class="landScape" id="landScape" style="display:none;"><div style="position:absolute; left:-60px; top:90px; width:400px; color:#ccc;">Please rotate your device</div></div>
    <div class="copyRight"><div style="position:relative; width:100%; text-align:center;">&copy; 2021 <a href="http://www.detailed-simplicity.com/" title="Detailed Simplicity Game Development">Detailed Simplicity</a>. Developed by Dave Bleeker.<br>
        3D Models from various sources.</div></div>
</div>