<div id="myView" data-api=".//MainScene.js" style="position:absolute; width:650px; height:100px; padding:3px; border:1px solid black; background:#cecece;">
    <h3 style="margin-top:0px;">Main View</h3>
    <table>
        <tr>
            <td>Set number of boxes in the model:</td>
            <td><input type="text" id="textBoxes" placeholder="5" value="5"></td>
            <td><button id="buttonUpdate">Spawn!</button></td>
        </tr>
    </table>

    <div style="padding:3px;" id="newScore"></div>

    <br><br><br>

    <div id="viewport"></div>

</div>