
<div data-api="./../app/views/loading/LoadingView.js" id="loading" class="loading">
    <div class="logo"></div>
    <div class="container">
        <div id="L">L</div>
        <div id="O">O</div>
        <div id="A">A</div>
        <div id="D">D</div>
        <div id="I">I</div>
        <div id="N">N</div>
        <div id="G">G</div>
    </div>
    <div class="loadingSubtext"><div id="loadingSubtext" style="position:relative; width:100%; left:20px;">Please stay around, the game is loading</div></div>
    <div class="copyRight"><div style="position:relative; width:100%; text-align:center;">&copy; 2021 <a href="http://www.detailed-simplicity.com/" title="Detailed Simplicity Game Development">Detailed Simplicity</a>. Developed by Dave Bleeker.<br>
        3D Models from various sources.</div></div>
</div>