<div id="gameOverPopup" class="popup" data-api="./../app/views/popups/GameOverPopup.js">
    <div class="popupContent" style="position:absolute; left:0; right:0; width:400px; height:300px; margin:auto">
        <div class="levelCompleteContent">
            <div class="title" style="position:absolute; top:30px; left:70px;">Game Over!</div>
            <span style="position:absolute; top:100px; left:100px;" class="scoreField">Total:</span>
            <span style="position:absolute; top:100px; left:230px;" class="scoreField" id="totalScoreText">0</span>

            <span style="position:absolute; top:130px; left:25px;" class="scoreField" id="nameField">Name <input maxlength="16" class="textInput" type="text" id="username"></span>

            <div style="position:absolute; left:125px; right:0; top:180px;">
                <button class="startGameButton" id="submitScore">Submit</button>
            </div>

            <div style="position:absolute; top:260px; left:125px;">
                <button id="restartButton" class="startGameButton">Play Again</button>
            </div>
        </div>
    </div>
</div>