<div id="gameCompletePopup" class="popup" data-api="./../app/views/popups/GameCompletedPopup.js" style="display:none">
    <div class="popupContent" style="position:absolute; left:0; right:0; width:400px; height:300px; margin:auto">
        <div class="levelCompleteContent">
            <div class="title" style="position:absolute; top:30px; left:70px;">Game Completed!</div>
            <div style="position:absolute; top:80px; left:50px">Your score:</div>

            <span style="position:absolute; top:120px; left:100px;" class="scoreField">Score:</span>
            <span style="position:absolute; top:120px; left:230px;"id="finalCoinsScoreText" class="scoreField">0</span>

            <span style="position:absolute; top:150px; left:100px;" class="scoreField">Time Bonus:</span>
            <span style="position:absolute; top:150px; left:230px;" id="finalTimeBonusText" class="scoreField">0</span>

            <span style="position:absolute; top:180px; left:100px;" class="scoreField">Total:</span>
            <span style="position:absolute; top:180px; left:230px;" class="scoreField" id="finalTotalScoreText">0</span>

            <!--
            <span style="position:absolute; top:208px; left:25px;" class="scoreField">Name <input style="width:100px; border:1px solid #000" type="text" id="username">
                <button style="height:35px" class="startGameButton" id="submitScore">Submit</button></span>
            -->
            <div style="position:absolute; top:260px; left:125px;">
                <button id="restartButton" class="startGameButton">Play Again</button>

            </div>
        </div>
    </div>
</div>