<div id="levelCompletePopup" class="popup" data-api="./../app/views/popups/LevelCompletePopup.js" style="display:none">
    <div class="popupContent" style="position:absolute; left:0; right:0; width:400px; height:300px; margin:auto">
        <div class="levelCompleteContent">
            <div class="title" style="position:absolute; top:30px; left:70px;">Level Completed!</div>
            <div style="position:absolute; top:80px; left:50px">Your score:</div>

            <span style="position:absolute; top:120px; left:100px;" class="scoreField">Score:</span>
            <span style="position:absolute; top:120px; left:230px;"id="coinsScoreText" class="scoreField">0</span>

            <span style="position:absolute; top:150px; left:100px;" class="scoreField">Time Bonus:</span>
            <span style="position:absolute; top:150px; left:230px;" id="timeBonusText" class="scoreField">0</span>

            <span style="position:absolute; top:180px; left:100px;" class="scoreField">Total:</span>
            <span style="position:absolute; top:180px; left:230px;" class="scoreField" id="totalScoreText">0</span>

            <div style="position:absolute; top:250px; left:125px;">
                <button id="nextLevelButton" class="startGameButton">Next</button>

            </div>
        </div>
    </div>
</div>